[submodule "HighwayEnv"]
	path = HighwayEnv
	url = https://github.com/xiaoli98/HighwayEnv.git
[submodule "stable-baselines3"]
	path = stable-baselines3
	url = https://github.com/xiaoli98/stable-baselines3.git
